<!DOCTYPE html>

<html lang="it" >
	<head>
	<meta charset="ISO-8859-1"/>
	<title>Commit Message Builder</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/custom.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body >

	<div id="vueapp">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			  <h1 class="display-4" v-text="title"></h1>
			  <p class="lead" v-text="lead"></p>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<form-component></form-component>
				<textarea-component></textarea-component>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<p class="col-3">
						Developed by <a href="/"><img src="https://sirnino.github.io/assets/images/logo.png" alt="Sirnino"/></a>
					</p>
					<p class="col-3">
						Powered by <a rel="noopener noreferrer" target="_blank" href="https://vuejs.org"><img alt="Vue" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1184px-Vue.js_Logo_2.svg.png"></a>
					</p>
					<p class="col-3">
						Styled with <a rel="noopener noreferrer" target="_blank" href="https://getbootstrap.com"><img alt="Bootstrap" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/480px-Bootstrap_logo.svg.png"></a>
					</p>
					<p class="col-3">
						Contribute on <a href="https://github.com/sirnino/Commit-Message-Builder"><img alt="Github" src="assets/images/gh-white.png"/></a>
					</p>
				</div>
			</div>
		</footer>
	</div>



	<script type="text/x-template" id="form-template">
		<div class="col-6">
			<form autocomplete="off" @submit="generate">
				<div class="row form-group ">
					<div class="col-6">
						<select v-model="prefix" id="selType" class="form-control" required name="type">
							<option value="" selected>Choose...</option>
							<option v-for="t in types" v-bind:value="t.val">{{ t.txt }}</option>
						</select>
					</div>
					<div class=" col-6">
						<input type="Text" id="scopeText" class="form-control" maxlength="50" name="scope" v-model="scope.ori" v-on:keyup="formatScope"/>
						<small id="scopeHelp" class="form-text text-muted" v-text="messages.scope"></small>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-12">
						<input required 
							id="subjText"
							class="form-control"
							type="Text" 
							maxlength="50" 
							name="subj"
							v-model="subject.ori" v-on:keyup="formatSubject"/>
						<small id="subjHelp" class="form-text text-muted" v-text="messages.subject"></small>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-12">
						<textarea
							id="bodyText"
							style="text-wrap:unrestricted;"
							rows="5"
							cols="72"
							name="body"
							v-model="body.ori" v-on:keyup="formatBody"></textarea>
						<small id="bodyHelp" class="form-text text-muted" v-text="messages.body"></small>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-12">
						<input 
							id="footerText"
							class="form-control"
							type="Text" 
							name="footer" 
							v-model="footer.ori" v-on:keyup="formatFooter"/>
						<small id="footerHelp" class="form-text text-muted" v-text="messages.footer"></small>
					</div>
				</div>
				
				<button type="submit" class="btn btn-primary" v-text="messages.submit"></button>
				
			</form>
		</div>
	</script>

	<script type="text/x-template" id="textarea-template">
		<div class="col-6">
			<textarea 
				readonly="readonly" 
				id="finalMsg" 
				cols="72"
				v-model="text">
			</textarea>
			<input v-model="messages.toclipboard" type="button" id="copy" class="btn btn-link" @click="copyClipboard">
		</div>
	</script>

	<script src="assets/js/form-component.js"></script>
	<script src="assets/js/textarea-component.js"></script>
	<script src="assets/js/main.js"></script>

	</body>
</html>