div.jumbotron{
    background: rgb(28,45,65);
    background: -moz-linear-gradient(360deg, rgba(28,45,65,1) 0%, rgba(35,52,72,1) 100%);
    background: -webkit-linear-gradient(360deg, rgba(28,45,65,1) 0%, rgba(35,52,72,1) 100%);
    background: linear-gradient(360deg, rgba(28,45,65,1) 0%, rgba(35,52,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c2d41",endColorstr="#233448",GradientType=1);
    color:white;
    max-height:148px;
}

div#main-content {
    position:absolute;
    left:0px;
    right:0px;
}

textarea{
    background-color: rgb(239, 239, 239);
    height: 90%;
}

footer{
    margin-top: 24px;
    position: absolute;
    bottom: 0;
    background: rgb(28,45,65);
    background: -moz-linear-gradient(180deg, rgba(28,45,65,1) 0%, rgba(35,52,72,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(28,45,65,1) 0%, rgba(35,52,72,1) 100%);
    background: linear-gradient(180deg, rgba(28,45,65,1) 0%, rgba(35,52,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c2d41",endColorstr="#233448",GradientType=1);
    color:white;
    height: 60px;
    width:100%;
    padding-top:1rem;
}

footer img{
    height: 20px;
}